body {
    font-family: Arial, sans-serif;
    background-color: #333;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 5px;
}

.table-responsive-sticky {
    max-height: 500px; /* O el alto que quieras */
    overflow-y: auto;
}

.table-responsive-sticky thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.movil-warning {
    display: none;
}

@media (max-width: 768px) {
    .expandable-input {
        width: 100%;
        transition: all 0.3s ease-in-out;
        &:focus {
            position: absolute;
            max-width: 230px;
            z-index: 10;
        }
    }

    .movil-warning {
        display: block;
    }
}